language: php

php:
  - 5.4
  - 5.5

env:
  - MONGO_VERSION=1.2.12

services: mongodb

matrix:
  allow_failures:
    - php: 5.5

before_script:
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer install --dev

script:
  - cd ./tests
  - ../vendor/bin/phpunit --coverage-clover ../build/clover.xml
  - php ../build/coverage-checker.php ../build/clover.xml 80
  - ../vendor/bin/phpcs --standard=PSR2 ../lib/ ./Zoop/
  - ../vendor/bin/phpmd ../lib/ text ruleset.xml
